<h1>Editing taboo word</h1>

<%= render "form", taboo_word: @taboo_word %>

<br>

<div>
  <%= link_to "Show this taboo word", @taboo_word %> |
  <%= link_to "Back to taboo words", taboo_words_path %>
</div>
