<p style="color: green"><%= notice %></p>

<h1>Taboo words</h1>

<%= link_to "New taboo word", new_taboo_word_path %>

<style>
  #taboo_words {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
  }
  @media screen and (min-width: 768px) {
    #taboo_words {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
</style>

<div id="taboo_words">
  <% @taboo_words.each do |taboo_word| %>
    <div>
    <%= render taboo_word %>
    <p style="text-align: center; font-size: .75rem;">
      <%= link_to "Show this taboo word", taboo_word %>
    </p>
    </div>
  <% end %>
</div>
